.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CRUD CSS */
.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.add-btn {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  /* background-color: #4CAF50; */
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.home-btn {
  margin-bottom: 40px;
}

.wfo-btn {
  background-color: purple;
}
.wfh-btn {
  background-color: rebeccapurple;
}

.add-btn:hover {
  background-color: #3e8e41;
}

.data {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-height: 150px;
}

.item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.item button {
  margin-top: 10px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.item h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.delete {
  background-color: #f44336;
}

.edit {
  background-color: #2196f3;
}

.save {
  background-color: #4caf50;
}

/* Homepage css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.routes {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.routes > div {
  margin-bottom: 1rem;
  margin-left: 20px;
}

.routes a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.routes a:hover {
  background-color: #e0e0e0;
}

.routes a.active {
  background-color: #333;
  color: #fff;
}

